@use "./colors" as *;
@use "./variables" as *;
@use "./typography" as *;

/* -------------------------------------------------------------------------- */
/*                        Mixin for Breakpoints                               */
/* -------------------------------------------------------------------------- */
// Mixin for desktop screens (1280px and greater)
@mixin desktop {
    @media only screen and (min-width: $desktop-screen-width) {
        @content;
    }
}

// Mixin for tablet screens (768px to 1279px)
@mixin tablet {
    @media only screen and (min-width: $tablet-screen-width) {
        @content;
    }
}

// Mixin for mobile screens (767px and below)
@mixin mobile {
    @media only screen and (max-width: $mobile-cutoff-width) {
        @content;
    }
}

/* -------------------------------------------------------------------------- */
/*                               Mixin for Font                               */
/* -------------------------------------------------------------------------- */
@mixin dynamicFont($weight, $size, $line-height, $color) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    font-family: "Titillium Web", sans-serif;
}