@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    z-index: 1000;
    position: fixed;
    flex-direction: center;
    background-color: $white;

    &__header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__card {
        height: 100%;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: space-between;
    }

    &__body {
        gap: 1rem;
        display: flex;
        flex-direction: column;

        &--heading {
            @include dynamicFont(600, 1.75rem, 2.25rem, $instock-black);

            @include tablet {
                @include dynamicFont(600, 2rem, 2.5rem, $instock-black);
            }
        }

        &--paragraph {
            @include dynamicFont(400, .9375rem, 1.625rem, $instock-black);

            @include tablet {
                @include dynamicFont(400, 1rem, 1.75rem, $instock-black);
            }
        }
    }


    &__close--button {
        all: unset;
        cursor: pointer;
    }

    &__footer {
        gap: 1rem;
        width: 100%;
        display: flex;

        @include tablet {
            justify-content: flex-end;
        }
    }

}