@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
/* -------------------------------------------------------------------------- */
/*                        Mixin for Breakpoints                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                               Mixin for Font                               */
/* -------------------------------------------------------------------------- */
.table {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
}
.table__header {
  display: none;
  background: #F7F8F9;
}
@media only screen and (min-width: 768px) {
  .table__header {
    display: table-header-group;
  }
}
.table__header--row {
  display: table-row;
}
.table__header--cells {
  text-align: start;
  display: table-cell;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  color: #5C667E;
  font-size: 0.6875rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Titillium Web", sans-serif;
}
@media only screen and (min-width: 768px) {
  .table__header--cells {
    padding: 0.5rem 1.5rem;
    color: #5C667E;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.125rem;
    font-family: "Titillium Web", sans-serif;
  }
}
.table__header--end {
  text-align: end;
  display: table-cell;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  color: #232940;
  font-size: 0.6875rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Titillium Web", sans-serif;
}
@media only screen and (min-width: 768px) {
  .table__header--end {
    padding: 0.5rem 1.5rem;
    color: #232940;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.125rem;
    font-family: "Titillium Web", sans-serif;
  }
}
.table__header--content {
  gap: 0.25rem;
  align-items: center;
  white-space: nowrap;
  display: inline-flex;
}
.table__header--icon {
  width: 1rem;
  height: 1rem;
}
.table__body {
  display: table-row-group;
  border-bottom: 1px solid #BDC5D5;
}
.table__body--row {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}
.table__body--row:hover {
  background-color: rgba(189, 197, 213, 0.5);
  transition: background-color 0.2s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .table__body--row {
    display: table-row;
  }
}
.table__data--cells {
  flex: 1 1 50%;
  display: block;
  box-sizing: border-box;
  padding: 1rem 0.75rem 0 1rem;
}
@media only screen and (min-width: 768px) {
  .table__data--cells {
    display: table-cell;
    padding: 1rem 1.5rem;
    vertical-align: middle;
  }
}
.table__data--header {
  text-align: left;
  display: table-cell;
  white-space: nowrap;
  padding-bottom: 0.25rem;
  color: #5C667E;
  font-size: 0.6875rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Titillium Web", sans-serif;
}
@media only screen and (min-width: 768px) {
  .table__data--header {
    color: #5C667E;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.125rem;
    font-family: "Titillium Web", sans-serif;
  }
}
.table__data--link {
  gap: 0.25rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2E66E5;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;
  font-family: "Titillium Web", sans-serif;
}
.table__data--link:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .table__data--link {
    color: #2E66E5;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: "Titillium Web", sans-serif;
  }
}
.table__data--content {
  color: #13182C;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
  font-family: "Titillium Web", sans-serif;
}
@media only screen and (min-width: 768px) {
  .table__data--content {
    color: #13182C;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
    font-family: "Titillium Web", sans-serif;
  }
}
@media only screen and (min-width: 768px) {
  .table__data--hidden {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .table__data--breakpoint {
    width: 75%;
  }
}
@media only screen and (min-width: 1280px) {
  .table__data--breakpoint {
    width: 100%;
  }
}
.table__data--actions {
  width: 100%;
  display: flex;
  padding: 1rem 0.5rem 1rem 1rem;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .table__data--actions {
    gap: 1rem;
    display: flex;
    padding: 1.5rem;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
  }
}
.table__data--edit, .table__data--delete {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .table__data--location {
    order: 1;
  }
  .table__data--address {
    order: 2;
  }
  .table__data--name {
    order: 3;
  }
  .table__data--contact {
    order: 4;
  }
  .table__data--actions {
    order: 5;
  }
}/*# sourceMappingURL=WarehouseList.css.map */