@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.table {
    width: 100%;
    height: 100%;
    background-color: $white;
    border-collapse: collapse;

    &__header {
        display: none;
        background: $light-grey;

        @include tablet {
            display: table-header-group;
        }

        &--row {
            display: table-row;
        }

        &--cells {
            text-align: start;
            display: table-cell;
            padding: 0.5rem 1rem;
            vertical-align: middle;
            @include dynamicFont(600, .6875rem, 1rem, $slate);

            @include tablet {
                padding: 0.5rem 1.5rem;
                @include dynamicFont(600, .75rem, 1.125rem, $slate);
            }
        }

        &--end {
            text-align: end;
            display: table-cell;
            padding: 0.5rem 1rem;
            vertical-align: middle;
            @include dynamicFont(600, .6875rem, 1rem, $graphite);

            @include tablet {
                padding: 0.5rem 1.5rem;
                @include dynamicFont(600, .75rem, 1.125rem, $graphite);
            }
        }

        &--content {
            gap: 0.25rem;
            align-items: center;
            white-space: nowrap;
            display: inline-flex;
        }

        &--icon {
            width: 1rem;
            height: 1rem;
        }
    }

    &__body {
        display: table-row-group;
        border-bottom: 1px solid $cloud;

        &--row {
            display: flex;
            flex-wrap: wrap;
            z-index: 0;

            &:hover {
                background-color: rgba(189, 197, 213, 0.5);
                transition: background-color 0.2s ease-in-out;
            }

            @include tablet {
                display: table-row;
            }
        }
    }

    &__data {
        &--cells {
            flex: 1 1 50%;
            display: block;
            box-sizing: border-box;
            padding: 1rem 0.75rem 0 1rem;

            @include tablet {
                display: table-cell;
                padding: 1rem 1.5rem;
                vertical-align: middle;
            }
        }

        &--header {
            text-align: left;
            display: table-cell;
            white-space: nowrap;
            padding-bottom: 0.25rem;
            @include dynamicFont(600, .6875rem, 1rem, $slate);

            @include tablet {
                @include dynamicFont(600, .75rem, 1.125rem, $slate);
            }
        }

        &--link {
            gap: 0.25rem;
            display: flex;
            align-items: center;
            text-decoration: none;
            @include dynamicFont(600, .8125rem, 1.25rem, $instock-indigo);

            &:hover {
                text-decoration: underline;
                
            }

            @include tablet {
                @include dynamicFont(600, .875rem, 1.375rem, $instock-indigo);
            }
        }

        &--content {
            @include dynamicFont(400, .6875rem, 1rem, $instock-black);

            @include tablet {
                @include dynamicFont(400, .75rem, 1.125rem, $instock-black);
            }
        }

        &--hidden {
            @include tablet {
                display: none;
            }
        }

        &--breakpoint {

            @include tablet {
                width: 75%;
            }

            @include desktop {
                width: 100%;
            }

        }

        &--actions {
            width: 100%;
            display: flex;
            padding: 1rem 0.5rem 1rem 1rem;
            justify-content: space-between;


            @include tablet {
                gap: 1rem;
                display: flex;
                padding: 1.5rem;
                align-items: center;
                text-align: center;
                justify-content: flex-end;
            }
        }

        &--edit,
        &--delete {
            cursor: pointer;
        }

        @include tablet {
            &--location {
                order: 1;
            }

            &--address {
                order: 2;
            }

            &--name {
                order: 3;
            }

            &--contact {
                order: 4;
            }

            &--actions {
                order: 5;
            }
        }
    }
}