* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    font-family: "Titillium Web", sans-serif;
}