@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.search-bar {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;

    &__input {
        width: 100%;
        outline: none;
        padding: 0 1rem;
        height: 2.25rem;
        border-radius: 20px;
        border: 1px solid $cloud;
        @include dynamicFont(400, .8125rem, 1.25rem, $graphite);

        &:focus {
            border: 1px solid $instock-indigo;
        }

        &__error {
            border: 1px solid $red;
        }

        @include tablet {
            height: 2.375rem;
            @include dynamicFont(400, .875rem, 1.375rem, $graphite);
        }
    }

    &__icon {
        right: 1rem;
        position: absolute;
    }
}